# Joining the 2019 data (with new variables) to health insurance coverage rates

In [1]:
import pandas as pd
import numpy as np

In [2]:
!pwd

/Users/alexandrawest/Desktop/W210-Capstone/w210/joins

In [3]:
df_2019 = pd.read_csv("/Users/alexandrawest/Desktop/W210-Capstone/new-var-2019/2019_new-var-PUMA_mapped_processed_2.csv")
df_2019.head()

,Geographic-division,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,...,relationship,race,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,income,stem-degree,full PUMA
0,East South Central,South,1,P,20,19,Born-US,Private-nonprof,some-college-great1,Never-married,...,38,black-aa-alone,male,0.0,32.0,NaN,Alabama/AL,1400.0,NaN,101100
1,East South Central,South,1,P,61,39,Born-US,State-gov,bachelor,Divorced,...,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No,102100
2,East South Central,South,1,P,89,19,Born-US,Private-prof,some-college-great1,Never-married,...,38,black-aa-alone,male,0.0,31.0,NaN,Alabama/AL,390.0,NaN,100301
3,East South Central,South,1,P,61,39,Born-US,State-gov,bachelor,Divorced,...,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No,102100
4,East South Central,South,1,P,49,21,Born-US,Private-prof,some-college-great1,Never-married,...,38,white-alone,male,0.0,12.0,NaN,New York/NY,4440.0,NaN,102000

In [5]:
df_hic = pd.read_csv("/Users/alexandrawest/Desktop/W210-Capstone/Census_data/health_insurance_coverage_2.csv").drop(columns=['Geographic Area Name']).rename(columns={"Estimate!!Percent Insured!!Civilian noninstitutionalized population": "insured_rate", "Estimate!!Percent Uninsured!!Civilian noninstitutionalized population": "uninsured_rate"})
df_hic.head()

     PUMA  insured_rate  uninsured_rate
0  100100          89.8            10.2
1  100200          91.9             8.1
2  100301          91.7             8.3
3  100302          89.7            10.3
4  100400          87.1            12.9

In [6]:
# make a copy of df_2019 that we will join to

df_2019_hic = df_2019.copy()
df_2019_hic.head()

,Geographic-division,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,...,relationship,race,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,income,stem-degree,full PUMA
0,East South Central,South,1,P,20,19,Born-US,Private-nonprof,some-college-great1,Never-married,...,38,black-aa-alone,male,0.0,32.0,NaN,Alabama/AL,1400.0,NaN,101100
1,East South Central,South,1,P,61,39,Born-US,State-gov,bachelor,Divorced,...,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No,102100
2,East South Central,South,1,P,89,19,Born-US,Private-prof,some-college-great1,Never-married,...,38,black-aa-alone,male,0.0,31.0,NaN,Alabama/AL,390.0,NaN,100301
3,East South Central,South,1,P,61,39,Born-US,State-gov,bachelor,Divorced,...,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No,102100
4,East South Central,South,1,P,49,21,Born-US,Private-prof,some-college-great1,Never-married,...,38,white-alone,male,0.0,12.0,NaN,New York/NY,4440.0,NaN,102000

In [7]:
# try a join

df_2019_hic = df_2019_hic.join(df_hic.set_index('PUMA'), on='full PUMA')
df_2019_hic.head()

,Geographic-division,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,...,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,income,stem-degree,full PUMA,insured_rate,uninsured_rate
0,East South Central,South,1,P,20,19,Born-US,Private-nonprof,some-college-great1,Never-married,...,male,0.0,32.0,NaN,Alabama/AL,1400.0,NaN,101100,88.9,11.1
1,East South Central,South,1,P,61,39,Born-US,State-gov,bachelor,Divorced,...,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No,102100,93.5,6.5
2,East South Central,South,1,P,89,19,Born-US,Private-prof,some-college-great1,Never-married,...,male,0.0,31.0,NaN,Alabama/AL,390.0,NaN,100301,91.7,8.3
3,East South Central,South,1,P,61,39,Born-US,State-gov,bachelor,Divorced,...,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No,102100,93.5,6.5
4,East South Central,South,1,P,49,21,Born-US,Private-prof,some-college-great1,Never-married,...,male,0.0,12.0,NaN,New York/NY,4440.0,NaN,102000,89.8,10.2

In [8]:
# check for null values

df_2019_hic['insured_rate'].isnull().values.any()

False

In [9]:
# show rows where 'insured_rate' is null

df_2019_hic_NULL = df_2019_hic[df_2019_hic['insured_rate'].isnull()]
df_2019_hic_NULL.head(30)

Empty DataFrame
Columns: [Geographic-division, region, state, RT, person-weight, age, citizenship-status, class-worker, education, marital-status, occupation, relationship, race, sex, extra-income, hours-per-week, field-of-degree, place-of-birth, income, stem-degree, full PUMA, insured_rate, uninsured_rate]
Index: []

[0 rows x 23 columns]

In [10]:
# create new csv of processed data
# this creates a csv that is ~150 MB - too big for Git
df_2019_hic.to_csv('/Users/alexandrawest/Desktop/W210-Capstone/joins/2019_new-var_health-insurance-coverage.csv',index=False)