# Joining the 2019 data to ALL new variables

#### 5 new variables from the Census, gathered at the PUMA level:
- home values
- gross rent
- unemployment
- educational attainment
- health insurance coverage rates

#### one new variable at the state level
+ Incarceration rate by state

In [1]:
import pandas as pd
import numpy as np

In [2]:
!pwd

/Users/alexandrawest/Desktop/W210-Capstone/w210/joins

In [3]:
# read in PUMS data - census 2019 - including full PUMA 

df_2019 = pd.read_csv("/Users/alexandrawest/Desktop/W210-Capstone/new-var-2019/2019_new-var-PUMA_mapped_processed_2.csv")
df_2019.head()

,Geographic-division,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,...,relationship,race,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,income,stem-degree,full PUMA
0,East South Central,South,1,P,20,19,Born-US,Private-nonprof,some-college-great1,Never-married,...,38,black-aa-alone,male,0.0,32.0,NaN,Alabama/AL,1400.0,NaN,101100
1,East South Central,South,1,P,61,39,Born-US,State-gov,bachelor,Divorced,...,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No,102100
2,East South Central,South,1,P,89,19,Born-US,Private-prof,some-college-great1,Never-married,...,38,black-aa-alone,male,0.0,31.0,NaN,Alabama/AL,390.0,NaN,100301
3,East South Central,South,1,P,61,39,Born-US,State-gov,bachelor,Divorced,...,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No,102100
4,East South Central,South,1,P,49,21,Born-US,Private-prof,some-college-great1,Never-married,...,38,white-alone,male,0.0,12.0,NaN,New York/NY,4440.0,NaN,102000

In [4]:
# state
# change state from number code to letters - for incarceration data
df_2019["state"].replace({1: "AL",2: "AK",4: "AZ",5: "AR",6: "CA",
                         8: "CO",9: "CT", 10: "DE",11: "DC",12: "FL", 
                        13: "GA",15: "HI",16: "ID",17: "IL",18: "IN",
                        19: "IA",20: "KS",21: "KY",22: "LA", 23: "ME",
                        24: "MD",25: "MA",26: "MI", 27: "MN",28: "MS", 
                        29: "MO",30: "MT",31: "NE",32: "NV",33: "NH",34: "NJ",
                        35: "NM",36: "NY",37: "NC",38: "ND",39: "OH",40: "OK",
                        41: "OR",42: "PA",44: "RI",45: "SC",46: "SD",
                        47: "TN",48: "TX",49: "UT",50: "VT",51: "VA",
                        53: "WA",54: "WV",55: "WI",56: "WY",72: "PR"}, inplace=True)

df_2019.head()

,Geographic-division,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,...,relationship,race,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,income,stem-degree,full PUMA
0,East South Central,South,AL,P,20,19,Born-US,Private-nonprof,some-college-great1,Never-married,...,38,black-aa-alone,male,0.0,32.0,NaN,Alabama/AL,1400.0,NaN,101100
1,East South Central,South,AL,P,61,39,Born-US,State-gov,bachelor,Divorced,...,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No,102100
2,East South Central,South,AL,P,89,19,Born-US,Private-prof,some-college-great1,Never-married,...,38,black-aa-alone,male,0.0,31.0,NaN,Alabama/AL,390.0,NaN,100301
3,East South Central,South,AL,P,61,39,Born-US,State-gov,bachelor,Divorced,...,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No,102100
4,East South Central,South,AL,P,49,21,Born-US,Private-prof,some-college-great1,Never-married,...,38,white-alone,male,0.0,12.0,NaN,New York/NY,4440.0,NaN,102000

In [5]:
# create dataframes for the new variables

# home value
df_hv = pd.read_csv("/Users/alexandrawest/Desktop/W210-Capstone/Census_data/median_home_value_2.csv").drop(columns=['Geographic Area Name', 'Margin of Error!!Median value (dollars)']).rename(columns={"Estimate!!Median value (dollars)": "med_home_value"})

# gross rent
df_gr = pd.read_csv("/Users/alexandrawest/Desktop/W210-Capstone/Census_data/median_gross_rent_2.csv").drop(columns=['Geographic Area Name', 'Margin of Error!!Median gross rent']).rename(columns={"Estimate!!Median gross rent": "med_gross_rent"})

# incarceration rates 
df_inc = pd.read_csv("incarceration_rates_2010.csv")

# unemployment rate
df_unem = pd.read_csv("/Users/alexandrawest/Desktop/W210-Capstone/Census_data/unemployment_2.csv").drop(columns=['Geographic Area Name']).rename(columns={"Percent!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force!!Unemployed": "unemployment_rate"})

# health insurance coverage
df_hic = pd.read_csv("/Users/alexandrawest/Desktop/W210-Capstone/Census_data/health_insurance_coverage_2.csv").drop(columns=['Geographic Area Name']).rename(columns={"Estimate!!Percent Insured!!Civilian noninstitutionalized population": "insured_rate", "Estimate!!Percent Uninsured!!Civilian noninstitutionalized population": "uninsured_rate"})


# educational attainment
cols = {"Percent-Population 25 years and over-Less than 9th grade": "less_than_9th",
        "Percent-Population 25 years and over-9th to 12th grade, no diploma": "9th_to_12th",
        "Percent-Population 25 years and over-High school graduate (includes equivalency)": "hs_grad",
        "Percent-Population 25 years and over-Some college, no degree": "some_college",
        "Percent-Population 25 years and over-Associate's degree": "associates_degree",
        "Percent-Population 25 years and over-Bachelor's degree": "bach_degree",
        "Percent-Population 25 years and over-Graduate or professional degree": "grad_or_prof_degree",
        "Percent-Population 25 years and over-High school graduate or higher": "hs_or_higher",
        "Percent-Population 25 years and over-Bachelor's degree or higher": "bach_degree_or_higher",
       }
df_edu = pd.read_csv("/Users/alexandrawest/Desktop/W210-Capstone/Census_data/educational_attainment_2.csv").drop(columns=['Geographic Area Name']).rename(columns=cols)

In [6]:
# check dataframes

# df_hv.head()
# df_gr.head()
# df_inc.head()
# df_unem.head()
# df_hic.head()
# df_edu.head()

In [7]:
df_hv.dtypes

PUMA               int64
med_home_value    object
dtype: object

In [8]:
# home values is an object - need to convert to float
# the following doesn't work because we have a value: '2,000,000+' which is a string
# df_hv["med_home_value"] = df_hv.med_home_value.astype(float)

df_hv['med_home_value'] = df_hv['med_home_value'].replace(['2,000,000+','2,000,000'],2000000)
df_hv.dtypes

PUMA               int64
med_home_value    object
dtype: object

In [9]:
#now we can change to float
df_hv['med_home_value'] = df_hv.med_home_value.astype(float)
df_hv.dtypes

PUMA                int64
med_home_value    float64
dtype: object

In [10]:
# make a copy of df_2019 that we will join to

df_2019_all = df_2019.copy()
df_2019_all.head() # should be the same as above

,Geographic-division,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,...,relationship,race,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,income,stem-degree,full PUMA
0,East South Central,South,AL,P,20,19,Born-US,Private-nonprof,some-college-great1,Never-married,...,38,black-aa-alone,male,0.0,32.0,NaN,Alabama/AL,1400.0,NaN,101100
1,East South Central,South,AL,P,61,39,Born-US,State-gov,bachelor,Divorced,...,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No,102100
2,East South Central,South,AL,P,89,19,Born-US,Private-prof,some-college-great1,Never-married,...,38,black-aa-alone,male,0.0,31.0,NaN,Alabama/AL,390.0,NaN,100301
3,East South Central,South,AL,P,61,39,Born-US,State-gov,bachelor,Divorced,...,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No,102100
4,East South Central,South,AL,P,49,21,Born-US,Private-prof,some-college-great1,Never-married,...,38,white-alone,male,0.0,12.0,NaN,New York/NY,4440.0,NaN,102000

In [11]:
# join one at a time, using the df_2019_all dataframe as the final

# join home value
df_2019_all = df_2019_all.join(df_hv.set_index('PUMA'), on='full PUMA')

# adds 1 column, med_home_value

In [12]:
# join gross rent
df_2019_all = df_2019_all.join(df_gr.set_index('PUMA'), on='full PUMA')

# adds 1 column, med_gross_rent

In [13]:
# join unemployment
df_2019_all = df_2019_all.join(df_unem.set_index('PUMA'), on='full PUMA')

# adds 1 column, unemployment

In [14]:
# join health insurance coverage
df_2019_all = df_2019_all.join(df_hic.set_index('PUMA'), on='full PUMA')

# adds 2 column, insured_rate and uninsured_rate

In [15]:
# join educational attainment
df_2019_all = df_2019_all.join(df_edu.set_index('PUMA'), on='full PUMA')

# adds 9 columns

In [16]:
# join incarceration
df_2019_all = df_2019_all.join(df_inc.set_index('State'), on='state')

# adds 10 columns

In [17]:
df_2019_all.head()
# includes ALL columns - 21 original + 24 new = 45

,Geographic-division,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,...,Incarceration rate per 100000,Incarceration rate: White alone,Incarceration rate: Black or African American alone,Incarceration rate: American Indian and Alaska Native alone,Incarceration rate: Asian alone,Incarceration rate: Native Hawaiian and other Pacific Islander alone,Incarceration rate: Some other race alone,Incarceration rate: Two or more races,Incarceration rate: Hispanic or Latino,"Incarceration rate: White alone, not Hispanic or Latino"
0,East South Central,South,AL,P,20,19,Born-US,Private-nonprof,some-college-great1,Never-married,...,861.491095,552.208375,1788.284447,283.506981,106.353205,98.135427,292.023527,407.011831,766.694324,535.326092
1,East South Central,South,AL,P,61,39,Born-US,State-gov,bachelor,Divorced,...,861.491095,552.208375,1788.284447,283.506981,106.353205,98.135427,292.023527,407.011831,766.694324,535.326092
2,East South Central,South,AL,P,89,19,Born-US,Private-prof,some-college-great1,Never-married,...,861.491095,552.208375,1788.284447,283.506981,106.353205,98.135427,292.023527,407.011831,766.694324,535.326092
3,East South Central,South,AL,P,61,39,Born-US,State-gov,bachelor,Divorced,...,861.491095,552.208375,1788.284447,283.506981,106.353205,98.135427,292.023527,407.011831,766.694324,535.326092
4,East South Central,South,AL,P,49,21,Born-US,Private-prof,some-college-great1,Never-married,...,861.491095,552.208375,1788.284447,283.506981,106.353205,98.135427,292.023527,407.011831,766.694324,535.326092

In [18]:
# create new csv of processed data
# this creates a csv that is ~150 MB - too big for Git
df_2019_all.to_csv('/Users/alexandrawest/Desktop/W210-Capstone/joins/2019_ALL_joins.csv',index=False)