# Joining the 2019 data (with new variables) to educational attainment rates

In [1]:
import pandas as pd
import numpy as np

In [2]:
!pwd

/Users/anushapraturu/Documents/MIDS/w210/joins

In [3]:
df_2019 = pd.read_csv("../final_data/2019_new-var-PUMA_mapped_processed.csv")
df_2019.head()

,Geographic-division,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,...,relationship,race,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,income,stem-degree,full PUMA
0,East South Central,South,1,P,20,19,Born-US,Private-nonprof,some-college-great1,Never-married,...,38,black-aa-alone,male,0.0,32.0,NaN,Alabama/AL,1400.0,NaN,101100
1,East South Central,South,1,P,61,39,Born-US,State-gov,bachelor,Divorced,...,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No,102100
2,East South Central,South,1,P,89,19,Born-US,Private-prof,some-college-great1,Never-married,...,38,black-aa-alone,male,0.0,31.0,NaN,Alabama/AL,390.0,NaN,100301
3,East South Central,South,1,P,61,39,Born-US,State-gov,bachelor,Divorced,...,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No,102100
4,East South Central,South,1,P,49,21,Born-US,Private-prof,some-college-great1,Never-married,...,38,white-alone,male,0.0,12.0,NaN,New York/NY,4440.0,NaN,102000

In [5]:
cols = {"Percent-Population 25 years and over-Less than 9th grade": "less_than_9th",
        "Percent-Population 25 years and over-9th to 12th grade, no diploma": "9th_to_12th",
        "Percent-Population 25 years and over-High school graduate (includes equivalency)": "hs_grad",
        "Percent-Population 25 years and over-Some college, no degree": "some_college",
        "Percent-Population 25 years and over-Associate's degree": "associates_degree",
        "Percent-Population 25 years and over-Bachelor's degree": "bach_degree",
        "Percent-Population 25 years and over-Graduate or professional degree": "grad_or_prof_degree",
        "Percent-Population 25 years and over-High school graduate or higher": "hs_or_higher",
        "Percent-Population 25 years and over-Bachelor's degree or higher": "bach_degree_or_higher",
       }
df_hv = pd.read_csv("educational_attainment.csv").drop(columns=['Geographic Area Name']).rename(columns=cols)
df_hv.head()

,PUMA,less_than_9th,9th_to_12th,hs_grad,some_college,associates_degree,bach_degree,grad_or_prof_degree,hs_or_higher,bach_degree_or_higher
0,100100,4.0,12.5,37.0,20.2,7.6,11.7,7.1,83.5,18.7
1,100200,2.7,6.6,29.6,20.1,9.8,21.4,9.7,90.7,31.1
2,100301,2.1,4.0,14.8,21.1,8.6,28.6,20.8,93.9,49.4
3,100302,2.5,7.5,18.2,20.5,8.9,26.2,16.2,90.1,42.4
4,100400,7.8,11.5,38.3,18.7,9.5,9.1,5.1,80.7,14.2

In [6]:
# make a copy of df_2018 that we will join to

df_2019_hv = df_2019.copy()
df_2019_hv.head()

,Geographic-division,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,...,relationship,race,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,income,stem-degree,full PUMA
0,East South Central,South,1,P,20,19,Born-US,Private-nonprof,some-college-great1,Never-married,...,38,black-aa-alone,male,0.0,32.0,NaN,Alabama/AL,1400.0,NaN,101100
1,East South Central,South,1,P,61,39,Born-US,State-gov,bachelor,Divorced,...,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No,102100
2,East South Central,South,1,P,89,19,Born-US,Private-prof,some-college-great1,Never-married,...,38,black-aa-alone,male,0.0,31.0,NaN,Alabama/AL,390.0,NaN,100301
3,East South Central,South,1,P,61,39,Born-US,State-gov,bachelor,Divorced,...,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No,102100
4,East South Central,South,1,P,49,21,Born-US,Private-prof,some-college-great1,Never-married,...,38,white-alone,male,0.0,12.0,NaN,New York/NY,4440.0,NaN,102000

In [7]:
# try a join

df_2019_hv = df_2019_hv.join(df_hv.set_index('PUMA'), on='full PUMA')
df_2019_hv.head()

,Geographic-division,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,...,full PUMA,less_than_9th,9th_to_12th,hs_grad,some_college,associates_degree,bach_degree,grad_or_prof_degree,hs_or_higher,bach_degree_or_higher
0,East South Central,South,1,P,20,19,Born-US,Private-nonprof,some-college-great1,Never-married,...,101100,4.2,11.2,34.5,21.8,9.0,11.5,7.8,84.6,19.3
0,East South Central,South,1,P,20,19,Born-US,Private-nonprof,some-college-great1,Never-married,...,101100,11.1,12.8,42.1,15.9,5.5,7.3,5.2,76.0,12.5
1,East South Central,South,1,P,61,39,Born-US,State-gov,bachelor,Divorced,...,102100,3.3,8.1,33.4,19.2,9.5,17.4,9.1,88.6,26.5
1,East South Central,South,1,P,61,39,Born-US,State-gov,bachelor,Divorced,...,102100,4.4,8.2,30.1,22.0,8.9,15.6,10.6,87.3,26.2
2,East South Central,South,1,P,89,19,Born-US,Private-prof,some-college-great1,Never-married,...,100301,2.1,4.0,14.8,21.1,8.6,28.6,20.8,93.9,49.4

In [8]:
# create new csv of processed data
# this creates a csv that is ~150 MB - too big for Git
df_2019_hv.to_csv('../final_data/2019_new-var_educational_attainment.csv',index=False)