# Process 2018 Data to Match 1994
#### 9/26/2020
---

## Load and Process Dataset
### Import Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn.naive_bayes import MultinomialNB, BernoulliNB
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.decomposition import PCA
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Importing the Data Set
df_2018 = pd.read_csv("2018_new-var_mapped_processed.csv")
df_2018.head()

,Geographic-division,area-code,region,state,RT,person-weight,age,citizenship-status,class-worker,education,...,occupation,relationship,race,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,income,stem-degree
0,New England,704,Northeast,MA,P,88,48,Born-PR-Guam-USvirginislands-northernmarianas,State-gov,GED,...,PRT-Correctional Officers and Jailers,unmarried-partner,white-alone,male,0.0,40.0,NaN,Puerto Rico,77000.0,NaN
1,New England,704,Northeast,MA,P,78,47,Born-US,Private-prof,master,...,"CMS-Social Workers, All Other",spouse,white-alone,female,0.0,40.0,Psychology,New York/NY,75000.0,Yes
2,South Atlantic,1101,South,FL,P,51,50,Born-US,Private-prof,bachelor,...,SAL-Real Estate Brokers And Sales Agents,ref,white-alone,male,0.0,50.0,Accounting,Michigan/MI,80000.0,No
3,West North Central,1301,Midwest,MN,P,34,19,Born-US,Private-prof,some-college-less1,...,MGR-Facilities Managers,noninstitutional-group,white-alone,female,0.0,8.0,NaN,Minnesota/MN,4800.0,NaN
4,East North Central,1100,Midwest,MI,P,107,24,Born-US,Private-prof,bachelor,...,HLS-Veterinary Assistants And Laboratory Anima...,ref,white-alone,female,0.0,40.0,Multi-Disciplinary Or General Science,Michigan/MI,10000.0,Yes

In [3]:
df_2018['income_adjusted'] = pd.qcut(df_2018['income'], 10, labels=False)

# df_2018.loc[df_2018['income'] < 1000, 'income_adjusted'] = '< $1,000'
# df_2018.loc[(df_2018['income'] >= 1000) & (df_2018['income'] < 25000), 'income_adjusted'] = '\$1,000-$24,999'
# df_2018.loc[(df_2018['income'] >= 25000) & (df_2018['income'] < 50000), 'income_adjusted'] = '\$25,000-$49,999'
# df_2018.loc[(df_2018['income'] >= 50000) & (df_2018['income'] < 75000), 'income_adjusted'] = '\$50,000-$74,999'
# df_2018.loc[(df_2018['income'] >= 75000) & (df_2018['income'] < 100000), 'income_adjusted'] = '\$75,000-$99,999'
# df_2018.loc[(df_2018['income'] >= 100000) & (df_2018['income'] < 125000), 'income_adjusted'] = '\$100,000-$124,999'
# df_2018.loc[(df_2018['income'] >= 125000) & (df_2018['income'] < 150000), 'income_adjusted'] = '\$125,000-$149,999'
# df_2018.loc[(df_2018['income'] >= 150000) & (df_2018['income'] < 175000), 'income_adjusted'] = '\$150,000-$174,999'
# df_2018.loc[(df_2018['income'] >= 175000) & (df_2018['income'] < 200000), 'income_adjusted'] = '\$175,000-$199,999'
# df_2018.loc[(df_2018['income'] >= 200000) & (df_2018['income'] < 250000), 'income_adjusted'] = '\$200,000-$249,999'
# df_2018.loc[df_2018['income'] >= 250000, 'income_adjusted'] = '$250,000+'

# df_2018['income_adjusted'].value_counts()

df_2018 = df_2018.drop(columns=['income']).rename(columns={'income_adjusted': 'income'})

df_2018.head()

,Geographic-division,area-code,region,state,RT,person-weight,age,citizenship-status,class-worker,education,...,occupation,relationship,race,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,stem-degree,income
0,New England,704,Northeast,MA,P,88,48,Born-PR-Guam-USvirginislands-northernmarianas,State-gov,GED,...,PRT-Correctional Officers and Jailers,unmarried-partner,white-alone,male,0.0,40.0,NaN,Puerto Rico,NaN,7
1,New England,704,Northeast,MA,P,78,47,Born-US,Private-prof,master,...,"CMS-Social Workers, All Other",spouse,white-alone,female,0.0,40.0,Psychology,New York/NY,Yes,7
2,South Atlantic,1101,South,FL,P,51,50,Born-US,Private-prof,bachelor,...,SAL-Real Estate Brokers And Sales Agents,ref,white-alone,male,0.0,50.0,Accounting,Michigan/MI,No,7
3,West North Central,1301,Midwest,MN,P,34,19,Born-US,Private-prof,some-college-less1,...,MGR-Facilities Managers,noninstitutional-group,white-alone,female,0.0,8.0,NaN,Minnesota/MN,NaN,0
4,East North Central,1100,Midwest,MI,P,107,24,Born-US,Private-prof,bachelor,...,HLS-Veterinary Assistants And Laboratory Anima...,ref,white-alone,female,0.0,40.0,Multi-Disciplinary Or General Science,Michigan/MI,Yes,1

In [4]:
df_2018.groupby('income').count()

,Geographic-division,area-code,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,occupation,relationship,race,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,stem-degree
income,,,,,,,,,,,,,,,,,,,,
0,85722,85722,85722,85722,85722,85722,85722,85722,85722,85722,85722,85722,85722,85722,85722,85722,85722,12839,85722,12839
1,85226,85226,85226,85226,85226,85226,85226,85226,85226,85226,85226,85226,85226,85226,85226,85226,85226,16148,85226,16148
2,83393,83393,83393,83393,83393,83393,83393,83393,83393,83393,83393,83393,83393,83393,83393,83393,83393,15467,83393,15467
3,90041,90041,90041,90041,90041,90041,90041,90041,90041,90041,90041,90041,90041,90041,90041,90041,90041,18890,90041,18890
4,79196,79196,79196,79196,79196,79196,79196,79196,79196,79196,79196,79196,79196,79196,79196,79196,79196,20577,79196,20577
5,84852,84852,84852,84852,84852,84852,84852,84852,84852,84852,84852,84852,84852,84852,84852,84852,84852,28816,84852,28816
6,86691,86691,86691,86691,86691,86691,86691,86691,86691,86691,86691,86691,86691,86691,86691,86691,86691,35579,86691,35579
7,89614,89614,89614,89614,89614,89614,89614,89614,89614,89614,89614,89614,89614,89614,89614,89614,89614,44824,89614,44824
8,77782,77782,77782,77782,77782,77782,77782,77782,77782,77782,77782,77782,77782,77782,77782,77782,77782,48666,77782,48666
9,84634,84634,84634,84634,84634,84634,84634,84634,84634,84634,84634,84634,84634,84634,84634,84634,84634,66048,84634,66048

In [5]:
df_2018.to_csv('2018_newvar_decile.csv',index=False)